.S_outline{
    height: 100vh;
    width: 412px;
    background-color: transparent ;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* background-image: url("./Backrod.png");
    background-size: cover;
    background-repeat: no-repeat; */
}

*{
  margin: 0;
}

.S_outline-tick{
  height: 100vh;
  width: 412px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #FDFDFD;
  
}

.Sout{
  height: 80%;
  width: 100%;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/triangle.png");
  background-repeat: no-repeat;
}


.Smain {
  display: flex;
  height: 100vh;
  width: 100vw;
  /* background-color: rgb(5, 5, 38); */
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.Smid{
  height: 100%;
  width: 412px;
  background-color: rgb(224, 236, 255);
}

.S_Form{
    font-weight: 600;
    color: rgb(84, 80, 80);
}

.S_in{
    height: 22%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.S_tick{
    font-size: 70px;
    background-color: rgb(223, 223, 223);
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
}


.S_input{
  height: 75%;
  width: 82%;
  background-color: #FDFDFD;
  border-radius: 15px;
  padding: 6% 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Sone{
  height: 15%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Sone1{
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 20px;
}

.Sone2{
  padding-bottom: 2px;
  color: gray;
}




.Sthree{
  height: 13%;
  width: 100%;
  align-content: end;
}

.Sthree1{
  width: 100%;
  height: 60%;
  border: none;
  border-radius: 10px;
  background-color: rgb(9, 78, 253);
  color: #FDFDFD;
  cursor: pointer;
  font-weight: 500;
}



.input-container {
  position: relative;
  width: 100%;
}

.Stwo {
  padding: 15px 10px;
  border-radius: 10px;
  border: 2px solid rgb(206, 204, 204);
  background-color: transparent;
  font-size: 16px;
  width: 92%;
}

.Stwo:focus{
  border: 2px solid rgb(162, 162, 162);
  outline: none;
}

.placeholder {
  position: absolute;
  top: 16px;
  left: 12px;
  color: gray;
  font-size: 16px;
  font-weight: 500;
  pointer-events: none;
  transition: all 0.2s ease;
}

.red {
  color: #F44F5A;
}

.error-border {
  border: 2px solid rgb(244, 16, 16);
}

.hidden {
  display: none;
}

  .SGreatjob{
    height: 70%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    color: #030911;
    text-align: center;
    flex-direction: column;
  }

  .Spacing{
    padding-bottom: 5px;
  }
  
/* Animation for sliding up */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animation for sliding out to the top */
@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* Adding the sliding up animation */
.slide-up {
  animation: slideUp 1s ease-in-out forwards;
}

/* Adding the sliding out animation */
.slide-out {
  animation: slideOut 1s ease-in-out forwards;
}


.s-vidio
{
  top: 313px;
left: 116px;
width: 139px;
height: 139px;
/* UI Properties */
mix-blend-mode: multiply;
opacity: 1;
}